<div class="container-fluid">
    <div class="titleContainer">
        <p>Opciones del administrador</p> &nbsp;
        <img src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/000000/external-work-tool-russia-icongeek26-glyph-icongeek26.png" id="adminIcon">
    </div>
    <div class="options mx-auto">
        <div class="menu" routerLink="/admin/menu">
            <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/100/000000/external-food-healthy-kiranshastry-solid-kiranshastry.png">
            <p>Menús</p>
        </div>
        <div class="client" routerLink="/admin/clients">
            <img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/100/000000/external-group-avatars-dreamstale-lineal-dreamstale.png">
            <p>Clientes</p>
        </div>
        <div class="sales" routerLink="/admin/sales">
            <img src="https://img.icons8.com/external-icongeek26-outline-icongeek26/100/000000/external-sales-due-diligence-icongeek26-outline-icongeek26.png">
            <p>Ventas</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>