<div class="container px-0">
    <h1>Historial de compras totales</h1>
    <h3>Total: {{ total | currency }}</h3>
    <hr>
    <div class="tableContainer" *ngIf="salesList.length > 0">
        <table class="mx-auto">
            <tr>
                <th>ID del cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Cantidad de menús</th>
            </tr>
            <tr *ngFor="let sale of salesList">
                <td>{{ sale.client_id }}</td>
                <td>{{ sale.date }}</td>
                <td>{{ sale.total | currency }}</td>
                <td>{{ sale.amount }}</td>
            </tr>
        </table>
    </div>
    <div class="notFound" *ngIf="salesList.length == 0">
        <p>No tienes compras</p>
    </div>
</div>